{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Travel app</title>

  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&amp;sdisplay=swap"
    rel="stylesheet" />

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://api-maps.yandex.ru/2.1/?apikey=ce7bdeda-cd01-4242-a1a6-7dfb61b23c4f&lang=ru_RU"
    type="text/javascript"></script>

</head>

<body class="">
  <main class="main " id="top">
    <div class="container d-flex flex-column min-vh-100">
      <header class="d-flex flex-wrap align-items-center justify-content-md-between justify-content-md-between py-3">
        {% include './header.html' %}
      </header>

      {% block context %}{% endblock %}
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
          <span class="text-muted">Шагайте в ритме своих мечтаний: Покоряйте мир смело и неутомимо!</span>
        </div>
      </footer>
    </div>



  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="{% static 'js/maps.js' %}"></script>

  {% block js_loader %}{% endblock %}
</body>

</html>