{% load static %}
<a class="navbar-brand col-md-3 d-flex align-items-center fw-bold fs-2" href="{%url 'home'%}">
  <img class="d-inline-block align-top img-fluid" src="{% static 'img/logo-icon.png' %}" alt="" width="50" />
  <span class="fs-4 ps-2">ExploraTrip</span>
</a>
<div class="col-md-3 text-end">
  {% if not user.is_authenticated %}
  <form class="vk-login ps-lg-5" action="/login/vk-oauth2">
    <button class="btn btn-lg btn-outline-primary order-0" type="submit">
      <img src="{% static 'img/vk-logo.svg' %}" alt="">
      Войти
    </button>
  </form>
  {% else %}
  <div class="btn-group">
    <button class="btn-profile dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {% if user.profile_photo %}
      <img class="image-profile" src="{{ user.profile_photo.url }}" alt="Profile Photo">
      {% else %}
      <img class="image-profile" src="{% static './img/no-avatar.png' %}" alt="Profile Photo">
      {% endif %}
      {% if not user.first_name %} {{ user.username }} {% else %} {{ user.first_name }} {% endif %}
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
    </ul>
  </div>
  {% endif %}
</div>