{% extends 'base.html' %}
{% load static %}

{% block context %}
  <section class="py-0">
    <div class="bg-holder d-none d-md-block" style="background-image:url({% static 'img/illustrations/hero.png'%});background-position:right bottom;background-size:contain;"></div>

    <div class="container position-relative">
      <div class="row align-items-center min-vh-75 my-lg-8">
        <div class="col-md-7 col-lg-6 text-center text-md-start py-8">
          <h1 class="mb-4 lh-sm">Откройте новые горизонты:<br class="d-block d-lg-none d-xl-block" />Запишите свои впечатления о мире!</h1>
          <p class="mt-4 mb-5 fs-1 lh-base">Откройте удивительный мир приключений! Сохраняйте впечатления о местах, от путешествий до уголков вашего города. Запишите эмоции, откройте горизонты и делитесь приключениями, вдохновляя на путешествия!</p>
          <a class="btn btn-lg btn-primary hover-top" href="#" role="button">Войти через ВК</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
