{% extends 'base.html' %}
{% load static %}

{% block context %}
<section class="main-pg py-0 d-flex align-items-center justify-content-center flex-grow-1">


  <div class="flex-grow-1 ">
    <div class="col text-center  text-md-start py-8">
      <h1 class="mb-4 lh-sm heading-page">Откройте новые горизонты:<br class="d-block d-lg-none d-xl-block" />Запишите
        свои впечатления о мире!</h1>
      <p class="">Откройте удивительный мир приключений! Сохраняйте впечатления о местах, от путешествий до уголков
        вашего города. Запишите эмоции, откройте горизонты и делитесь приключениями, вдохновляя на путешествия!</p>
      {%if user.is_authenticated%}
      <a class="btn btn-lg btn-primary hover-top" href="{%url 'posts' %}" role="button">Перейти к записям</a>

      {%else%}
      <a class="btn btn-lg btn-primary hover-top" href="/login/vk-oauth2" role="button">Войти через ВК</a>
      {%endif%}
    </div>
  </div>
  <div class="flex-wrap main-bg">
    <img src="{% static 'img/illustrations/hero.png' %}" class="" alt="">
  </div>


</section>
{% endblock %}